body {
  font-family: Arial, sans-serif;
  background: #6e0c33;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background: #F5F5DC;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
}

h2 {
  color: #6e0c33;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  text-align: left;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #6e0c33;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
}

input[type="submit"] {
  background: #4f0623;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background: #b30083;
}
